<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <!-- Servlets -->
  
    <servlet>
    <servlet-name>candidateServlet</servlet-name>
    <servlet-class>com.valimised.server.CandidateServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>candidateServlet</servlet-name>
    <url-pattern>/candidate</url-pattern>
  </servlet-mapping> 
  
   <servlet>
    <servlet-name>newChannelServlet</servlet-name>
    <servlet-class>com.valimised.server.InitializeServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>newChannelServlet</servlet-name>
    <url-pattern>/newchannel</url-pattern>
  </servlet-mapping> 
  
      <servlet>
    <servlet-name>keywordServlet</servlet-name>
    <servlet-class>com.valimised.server.KeywordSuggestServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>keywordServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping> 
  
  <servlet>
    <servlet-name>candidatesServlet</servlet-name>
    <servlet-class>com.valimised.server.CandidatesServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>candidatesServlet</servlet-name>
    <url-pattern>/candidates</url-pattern>
  </servlet-mapping> 
  
  <servlet>
    <servlet-name>resultsServlet</servlet-name>
    <servlet-class>com.valimised.server.ResultsServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>resultsServlet</servlet-name>
    <url-pattern>/results</url-pattern>
  </servlet-mapping> 
    
  <servlet>
    <servlet-name>areaResultsServlet</servlet-name>
    <servlet-class>com.valimised.server.AreaResultsServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>areaResultsServlet</servlet-name>
    <url-pattern>/results/area</url-pattern>
  </servlet-mapping> 
  
  <servlet>
    <servlet-name>applicationFormServlet</servlet-name>
    <servlet-class>com.valimised.server.ApplicationFormServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>applicationFormServlet</servlet-name>
    <url-pattern>/application</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>voteServlet</servlet-name>
    <servlet-class>com.valimised.server.VoteServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>voteServlet</servlet-name>
    <url-pattern>/vote</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>cancelVoteServlet</servlet-name>
    <servlet-class>com.valimised.server.CancelVoteServlet</servlet-class>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>cancelVoteServlet</servlet-name>
    <url-pattern>/cancelVote</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>cancelCandidateServlet</servlet-name>
    <servlet-class>com.valimised.server.CancelCandidateServlet</servlet-class>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>cancelCandidateServlet</servlet-name>
    <url-pattern>/cancelCandidate</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
   <servlet-name>partyResultsServlet</servlet-name>
    <url-pattern>/results/party</url-pattern>
  </servlet-mapping> 
  
  <servlet>
    <servlet-name>partyResultsServlet</servlet-name>
    <servlet-class>com.valimised.server.PartyResultsServlet</servlet-class>
  </servlet>
   
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Valimised.html</welcome-file>
  </welcome-file-list>


  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value/>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>

</web-app>